/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/


.clearfix {
  clear: both;
}

header {
  margin-top: 9%;
  height: 50px;
  background-color: rebeccapurple;
  height: 100%;
}

body {
  
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  width: 70%;
  margin: 0 auto;
  background-color: blue;
  background-image: url("../images/bgtile.png");
  background-position: center top;
  background-repeat: repeat-x;



}

#container {
  width: 100%;
  background-color: yellow;
}

#mobiles {
  display:block;
  float: left;
  height: 100%;
  width: 40%;
  background-color: red;
  text-align: center;
}

#derecha {
  display:block;
  float: left;
  width: 60%;
  height: 100%;
  background-color: green;

}

footer {
  width: 100%;
  background-color: yellowgreen;
  text-align: center;
}

footer li {
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  color: #06365f;
}

.apps {
  height: 100%;
  margin: 6% 0% 0% 8%;
  
}

.apps img {
  margin-right: 20px;
}

.logo {
  float:left;
  display: flex;
}

.home {
  float: right;
  height: 25px;
}

.botones {
  display: inline;
}

.botones button {
  background-color: #1c5380;
  background-image: url("../images/home.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 104px; 
  color: white;
}

.texto {
  height: 100%;
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
  margin: 50px 20px 20px 30px;
}

.texto h2 {
  padding: 23px 0px 0px 33px;
}

.texto p {
  margin: 28px 15% 10px 34px;
  
}

.negrita {
  font-weight: 400;
 }

