/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../images/bgtile.png') repeat-x;
}

footer{
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  clear:both;
  left: 33%;
}

.box{
  margin: 100px auto 0 auto;
  vertical-align: middle;
  max-width: 800px;
}

.mobile-image-container{
  width:30%;
  float: left;
}

.logo-container{
  width:60%;
  float:right;
}

.login-container{
  display: inline;
  background: linear-gradient(#1c5380, #06365f) ;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px 5px ;
  border-radius: 8px;
  margin-left: 9%;
}
.login{
  text-decoration: none;
  color: white;
  vertical-align: middle;
  font-weight: bolder;
}
.title{
  color: #06365f;
}
.footer-item{
  text-decoration: none;
  margin: 10px;
  color: #1c5380;
}
.instagram-copy{
  color:lightgrey;
}

.image-frame{
  background: url('../images/frame.png') no-repeat;
  background-size: contain;
  padding: 10px 50px;
  width: 66%;
}
