/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

}

.background {
  background-color: #1c5380;
  height: 30vh;
  width: 100%;
  position: absolute;
}

.footer {
  width: 100%;
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
}

.link {
  text-align: center;
  clear: both;
}

.phone{
  float: left;
  margin: 100px
}

.right-box {
  float: left;
  width: 60%;
  margin-top: 100px;
}

.quotes {
  float: left;
  padding: 30px;
  width: 45%;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  color: #06365f; 
}

p {
  font-size: 25px;
}

.box-set {
  overflow: auto;
}

