/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #1c5380;

}

.capture {
  font: 200 16px/1.5 "Helvetica Neue" #06365f;
  
}