/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
html {
  height: 100%;
}
body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(top, #49769d, #49769d 35%, white 30%, white);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;

}
.brandPng {
  margin-left: 64px;
  margin-top: 19px;
}
.button {
  background-color: #6290b1;
  width: 95px;
  height: 36px;
  position: absolute;
  top: 154px;
  right: 374px;
  border-radius: 3px;
}
.homePng {
  position: absolute;
  top: 162px;
  right: 437px;
}
.logIn {
  position: absolute;
  top: 163px;
  right: 386px;
  color: white;
  font-family: -webkit-body;
}

.captureText {
  position: absolute;
  top: 243px;
  left: 615px;
  color: #49769d;
  font-size: 22px;
  margin-right: 41%;

}

.phonesPng {
  margin-left: 45px;
  float: left;
}
.instagram {
  float: left;
}
.context {
  position: absolute;
  top: 337px;
  left: 620px;
  color: black;
  font-size: 14px;
  margin-right: 32%;
  font-family: arial;
}
.bottomNav {
  position: absolute;
  top: 700px;
  left: 460px;
}
.framePic {
  position: absolute;
  top: 214px;
  left: 570px;
}
.badgeiPhone {
  position: absolute;
  top: 565px;
  left: 622px;

}
.badgeAndroid {
  position: absolute;
  top: 565px;
  left: 808px;

}

.bottomNav a{
  margin: 0 10px;
}
