/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: url(../images/bgtile.png);
  background-repeat: repeat-x;
}
main
{
  /* padding: 100px 150px; */
  overflow: auto;
  width: 70%;
  margin: 70px auto;
}
.phones
{
  float: left;
  width: 30%;
}
.right
{
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  width: 50%;
  position: relative;
  bottom: 30px;
}
.lower
{
  position: relative;  
  /* background-color: red; */
  padding: 10px 50px;
  margin-top: 20px;
}
.frame
{
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  width: 98%;
}
.upper
{
  position: relative;
}
.button
{
  margin: 3px;
  padding: 5px 10px;
  background: linear-gradient(#5f85a6, #1c5380);
  position: absolute;
  top:20px;
  right:20px;
  border-radius: 3px;
  border: 1px solid #1c5380;
}
.image-button
{
  width: 20px;
  position: relative;
  top: 2px;
}
.text-button
{
  margin-left: 10px;
  position: relative;
  bottom: 2px;
  color: #eeeeee;
  font-weight: 500;
  font-size: 12px;
}
.downloads
{
  margin-top: 30px;
}
.android
{
  margin-left: 20px;
}
.menu
{
  text-align: center;
  list-style-type: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #5f85a6;  
}
.menu li
{
  padding: 10px;
  display: inline-block;
}
.copyright
{
  color: gray;
}