body {
    background-color: rgb(29, 78, 141);
    margin: 0;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-img {
    display: flex;
    width: 60%;
    height: 60%;
    margin-top: 80px;
}

.iphone {
    width: 45%;
}

.content {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-ins {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(29, 78, 141);
    border: black 1px solid;
}

.moments {
    background-image: url('./images/frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-moments {
    margin: 0 10% 0 10%;
}

.img-moments {
    margin: 0 10% 0 10%;
}

.navega {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    color: white;
}