/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.fond {
background : url('../images/bgtile.png');
    background-repeat: repeat-x;}

.phones {
  display : flex;
  justify-content: center;;}
}


.h1 {display : flex;
 color: white;

 }

 h2 { color: #0b0c30;

}
.whiteframe {
  display : flex;
  background : url('../images/frame.png');
margin-left: 700px;
 justify-content: flex-end;
 background-repeat :no-repeat;
 box-sizing : border-box;
}

.footerlist {
  display: inline-flex;
  justify-content: space-between;
  color : #06365F;
  text-transform: uppercase;
  font-weight: 800;
}
 }
}
