/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
 background-image: linear-gradient(to top, white 60%,  #1c5380 40%);
}

.principal-content {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.secondary-content {
  width: 550px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-log {
  width: 500px;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.home-log > img {
  width: 300px;
  margin: 0px 20px;
  margin-right: 40px;
}
.home-log > a {
  width: 90px;
  font-family: sans-serif;
  font-size: 1.1em;
  background-color: #4D789C;
  border: 5px solid #4D789C;
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-log > a > img {
  width: 20px;
}

.text {
  width: 430px;
  margin-left: 30px;
  padding-left: 30px;
  padding-right: 15px;
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.text h1 {
  color: #06365f;
  font-size: 1.5em;
}

.download-image {
  margin-top: 30px;
  width: 330px;
  display: flex;
  justify-content: space-between;
}

.footer ul {
  display: flex;
  color: #1c5380;
  font-weight: 600;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 100px;
  margin-right: 300px;
  margin-left: 300px;
}

.copyright {
  color: gray;
}