*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between; /*manda los elementos a los lados*/
    background-color: #81d4fa;
    padding: 2%;
    color: white;
}
.header__nav {
    width: 25%;
}
.header__nav .links__container{
    display: flex;
    list-style: none;   
    justify-content: space-around; /* todos los elementos se distribuyen equitativamente*/
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .header {
        background-color: #e50303;
        }
 } 
@media screen and (max-width: 700px) {
    .header {
        background-color: rgb(17, 1, 1);
    }
}

@media screen and (max-width: 320px) { /* Moviles  */
    .header {
        background-color: #a9e503;
        
    }
    
} 
