/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.blue-background {
  background-color: #1c5380;
  height: 300px;
}

.content {
  position: absolute;
  padding: 20px 200px;
  top: 0;
  width: 2000px;
  margin: 50px;
}
.left-part {
  display: inline-block;
}

.right-part {
  display: inline-block;
  margin: 30px;
}

.main-container {
  color: black;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  width: 500px;
  padding: 10px 40px;

}

* {
  box-sizing:border-box;
}

.logo {
  display: inline-block;
  color:white
}

.dark-blue {
  color: #06365f;
}

.login {
  display: inline-block;
  float: right ;
  padding-right: 55px;
  width: 100px;
}

.buttos-log {
  width: 100%;
  position: ;
}

.footer {
  align: center;
  margin: 10px;
  margin-left: 150px;
  color: #1c5380;
  font-weight: bold;
}

.footer2 {
  align: center;
  margin-left: 570px;
  margin-top: -33px;
}
