/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
body{
font-family: Arial, Helvetica, sans-serif;
}

.nav {
font-weight: 100;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
background-color: #1c5380; 
height: 250px;
width: 1500px; 
padding-left: 100px;
padding-top: -15px;
}


.flex-container{
display: flex;
flex-flow: column;
flex-wrap: nowrap;
-webkit-flex-wrap: nowrap;
background-color: white;
height: 450px;
width: 450px;
padding-left: 600px;
padding-right: 100px;
padding-top: 0;
} 
.capture{
color:#1c5380;
font-size: 32px;
padding-right: 115px;
}
.flex-item{
  display: flex;
  text-decoration: none; 
  padding-bottom: 10px;
  padding-top: 10px;
}
.flex-item1{
color: white;
padding-right: 20px;
display: flex;

}
.flex-item2{
  display: flex;
  padding-right: 74px;
  padding-left:8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid;
  margin: 1px;
  border-color: #06365f;
  border-radius: 5px;
  box-shadow: 2px;
  height: 33px;
}

  .flex-item3{
    display: flex;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 13px;} */



.phone {
  padding-right: 450px;

  line-height: 600px;
}
.frame {
  float: center;
  padding-left: 150px;
  padding-bottom: 228px;
  
}
 
.logo-row {
float: left;
display: flex;
justify-content: space-between;
flex-flow: row;
flex-wrap: nowrap;
padding-top: 80 px;
padding-right: opx;
}

 
.container {
display: flex;
flex-flow: row;
flex-wrap: nowrap;
justify-content: flex-end;
padding-right: 580px;
padding-top: 100px;
}

.flex-footer {
  display: flex;
  text-decoration: none;
  flex-flow: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color: #06365f;
  justify-content: space-between;
  padding-right: 435px;
  padding-left: 275px;  
} 
.flex-foot{
  display: flex;
  color:#1c5380;
}
.flex-reg{
  display: flex;
  text-decoration-color: grey

}