/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("images/bgtile.png");
  background-repeat: no-repeat;
  background-size: 100% 400px;
}

.phones{
  position:absolute;
  margin-top:12%;
  margin-left:20%;
  width:400px;
}
.insta{
  background-repeat: no-repeat;  
  margin-left: 47%;
  margin-top: 12%;
  position: relative;
  width:400px;
}

.log-in{
  background-color:#1c5380;
  color:white;
  border:none;
  width: 120px;
  height:60px;
  margin-top: 245px;
  float:right;
  padding-left:50px;
  margin-right: 300px;
  font-size: 20px;
}

.home{
  background-image: url("images/home.png");
  position: absolute;
  margin-top:260px;
  margin-left: 180px; 
}

.text{
  position: relative;
  background-image: url("images/frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:700px;
  height: 400px;
  margin-left:46%;
}

.div-capt{
  padding-top:20px;
  padding-left: 50px;
  width: 340px;  
}

.capt {
  color: darkblue;
}

p {
  font-size: 20px;
  width: 550px;
  padding-left: 50px;
}

span {
  font-weight: bold;
}

.iphone {
  padding-left:50px;
  width: 200px;
}

.android{
  padding-left:30px;
  width: 180px;
}

.list li{
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  color: darkblue;
}

.footer{
  margin-bottom: 0;
  float: left;
  margin-top: 170px;
  margin-left: 450px;
}

.list .number{
  color:grey;
}