/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  color: #06365f;
}

#bg-blue {
  background-image: url(../images/bgtile.png);
  background-repeat: repeat-x;
  height: 280px;
}



#landing-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -180px;
  margin-left: 200px;
  margin-right: 200px;
  /* margin-left: auto;
  margin-right: auto;
  width: 50vw;*/
}



#instagram-intro {
  width: 504px;

}

#log-in-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#log-in-bar>img {
  width: 250px;
}

button {
  background-image: linear-gradient(#5a8db8, #1c5380 );
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 6px #06365f;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  font-weight: bold;
}

button>img {
  margin-right: 10px;
}

#insta-info {
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  padding: 5px 40px;
  ;
}

#download-badges {
  margin-top: 30px;
}

#download-badges img {
  margin-right: 25px;
}

footer {
  margin: 60px 300px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  color: rgb(168, 168, 168);
}

footer a {
  text-decoration: none;
  color: #1c5380;
}

