/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #06365f}

.cajatotal {

  display:flex;
 }

body {
  background-color: red;
centraltext {
  padding:5% auto;


}