/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

*{
  border: 1px solid black;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 5%;
  background-image: url("/images/bgtile.png");
  background-color: white;
  background-repeat:repeat-x;
}

.main-body{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-between;
}

.cell-phones{
  width: 30%;
  margin: 0 auto;
}

.content-block{
  width: 60%;
  display: flex;
  flex-direction:column;
}

.top-content-block{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content: space-between;
  align-items: center;
}

.top-content-block img{
  padding: 8px;
  margin-left: 20px;
}

.log-in{
  width: 15%;
  height: 30%;
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: center;
  padding: 8px;
  background-color: #1c5380;
  background-image: url("/images/bgtile.png");
  box-shadow: 3px 3px 5px #06365f;
  border:#06365f solid;
  color: #E1E7ED;
  border-radius: 3px;
  margin: 14px;
}

.log-in p {
  font-size: 1em;
  font-weight:500;
}

.log-in img{
  margin: 0;
}

.mid-content-block{
  background-color: inherit;
  background-image: url("/images/frame.png");
  background-repeat: no-repeat;
  background-size:cover;
  padding: 20px 40px;
}

.mid-content-block p{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2;
}

.mid-content-block h1{
  color:#1c5380;
  width: 50%;
  font-size: 2em;
}

.bottom-content-block{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content: center;
  align-items: center;
}

.bottom-content-block img{
  padding: 8px;
  margin: 0 8px;
} 

.footer-navigation{
display: flex;
justify-content: center;
color: #1c5380;
align-content: space-around;
font-weight: bold;
text-transform: uppercase;
}

.footer-navigation li{
  display: inline;
  margin: 0 4px;
}

#copyright {
  text-transform:uppercase;
  color: gray;
  font-weight:lighter;
}
