body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.main-section {
  background-image: linear-gradient(to bottom, #1C5380, #06365F);
  position: absolute;
  height: 45%;
  width: 100%;
  z-index: -1;
}
.iphones {
  width: 500px;
  margin-left: 0;
  padding-left: 0;
}
.insta {
  width: 400px;
}
.all-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.all-iphones {
  width: 800px;
}
.logologin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.houselogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 160px;
  border-style: solid, #1C5380;
  padding: 10px;
  height: 40px;
  background-color: #1C5380;
}
.houselogin h5 {
  font-size: 25px;
  color: white;
}
.houselogin img {
  width: 35px;
}
.all-iphones{
  padding-left: 70px;
  width: 700px;
}
.h1p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(images/frame.png);
  background-repeat: no-repeat;
  background-size: 770px;
  width: 840px;
  padding-left: 60px;
  height: 465px;
  margin-top: 30px;
}
.h1p h1 {
  padding-top: 30px;
  padding-top: 0;
  font-size: 40px;
  width: 420px;
  color: #06365F;
}
.h1p p {
  width: 620px;
  font-size: 25px;
}
.installapp {
  padding-left: 90px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#apple {
  width: 450px;
}
#google {
  width: 450px;
  padding-right: 40px;
}
ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 97%;
  font-weight: 700;
}
ul a {
  text-decoration: none;
  color: #1C5380;
}
ul li {
  padding: 75px 15px;
  font-size: 17px;
}
#ee {
  color: grey;
}