/* /*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;  
}

#container{                              /* Todo menos el footer */
  display: flex;
  justify-content: center;
}
section{
  padding: 0 20px 20px 20px;
  margin: 50px 30px 0px; 
}

.section-left{
  padding-right: 0px;
  margin-right: 0px;
}

.section-right{
  width: 520px;
  padding-top: 20px;
  padding-left: 18px;

  /* display: flex;
  flex-direction: column; */
}
.encabezado{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  height: 130px;
}

.log-button{
  width:120px;
  height: 50px;
  background-color:#1c5380;
  background: linear-gradient(to top, #1c5380, #6e9abe);
  color: white;
  font-size: 1.1rem;
  border: 1px solid #06365f ;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius:5px;
}

article{
  background-image: url("../images/frame.png");
  flex: auto;
  background-repeat: no-repeat;
  padding: 20px 40px;
  opacity: 1;
}

h2{
  color: #06365f;
}
.article-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 440px;
  opacity: 1;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.footer li{
  list-style: none;
  padding: 0px 5px;
  color: #1c5380;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  font-weight: 750;
 
  
}

.copy{
  color: grey;
  opacity: 0.5;
  font-weight: bold;
}

