/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column60 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.column40 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.column50 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ul-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}